<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>HOME - salsa</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="dashboard">
    <aside class="sidebar">
      <h2>My Dashboard</h2>
      <nav>
        <ul>
          <li class="active">Salsa Anjani</li>
          <li><a href="/transaksi">Data Trasaksi</a></li>
          <li><a href="/pasien">Data pasien</a></li>
          <li><a href="/tambah_datarawatinap">Tambah Data Rawat Inap</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <header>
        <h1>RS Salsa Mandiri</h1><br>
      </header>

      <section class="cards">
        <div class="card">
          <h3>Data Pasien Rawat Inap</h3>
          <div class="button">
            <a href="/tambah_datarawatinap">Tambah Data Rawat Inap</a>
          </div>
        <table>
          <tr>
            <th>ID Rawat</th>
            <th>Nama Pasien</th>
            <th>No Kamar</th>
            <th>Harga/Hari</th>
            <th>Durasi</th>
            <th>Aksi</th>
          </tr>
        </div>
        {% for row in data_rawat %}
        <tr>
          <td>R-00{{ row.id_rawat }}</td>
          <td>{{ row.nama }}</td>
          <td>{{ row.id_kamar }}</td>
          <td>Rp {{ "{:,.0f}".format(row.harga) }}</td>
          <td>{{ row.tgl_masuk }} s/d {{ row.tgl_keluar }}</td>
          <td>
            <a href="/bayar/{{ row.id_rawat }}" class="btn btn-success btn-sm" onclick="return confirm('Proses pembayaran?')">Bayar & Selesai</a>
          </td>
        </tr>
        {% endfor %}
        </table>
    </main>
  </div>
</body>
</html>